---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <link rel="icon" href="../images/K_Icon.png">
  <title>Kubiartwork</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--<link href="ie10-viewport-bug-workaround.css" rel="stylesheet">-->

  <!----CUSTOM STYLES BEGIN----->
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

  <link href="./css/customstyles.css" rel="stylesheet" type="text/css">
  <script src="./js/customJSFramework.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!----CUSTOM STYLES END----->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-----NAVBAR BEGIN----->

  {% include navigation.html %}

  <!-----NAVBAR END----->

  <!-----MAIN CONTENT BEGIN----->

  <div class="HomePage-BKG-Image">

    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="HomePage-Overlay-Text">
            <h1 class="slide-up-fade-in">Design</h1>
          </div>
        </div>
      </div>
    </div>

    <!--Project 1 Container-->
    <div class="container designContainer">
      <div class="row equal">
        <div class="designDescrip col-xs-6">

          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

        </div>

        <div class="designImage col-xs-6">

          <img alt="picture" src="https://s3.amazonaws.com/content.kubiartwork.com/images/projectCards/project_PrismaticMacabre.jpg" class="img-responsive">

        </div>
      </div>
    </div>

    <!--Project 2 Container-->
    <div class="container designContainer">
      <div class="row equal">

        <div class="designImage col-xs-6">

          <img alt="picture" src="https://s3.amazonaws.com/content.kubiartwork.com/images/projectCards/project_PrismaticMacabre.jpg" class="img-responsive">

        </div>
        <div class="designDescrip col-xs-6">

          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

        </div>

      </div>
    </div>

  </div>



<!--Masonry Test-->
<div class="grid">
  <div class="grid-sizer"></div>
                  <div class="grid-item"><a href="https://s3.amazonaws.com/content.kubiartwork.com/images/test/witch_1_test.jpg" data-toggle="lightbox"><img alt="picture" src="https://s3.amazonaws.com/content.kubiartwork.com/images/test/witch_1_test.jpg" class="img-responsive slide-up-fade-in"></a></div><div class="grid-item"><a href="https://www.dropbox.com/s/68bi0cifunl9jy6/beetleBabe_web.jpg?raw=1" data-toggle="lightbox">
                    <img alt="picture" src="https://www.dropbox.com/s/7a1ni4koae83d7i/beetleBabe_webxsm.jpg?raw=1" class="img-responsive slide-up-fade-in">
                  </a></div><div class="grid-item"><a href="https://www.dropbox.com/s/rxyznx03gmlry7j/turnpractice3_web.jpg?raw=1" data-toggle="lightbox">
                    <img alt="picture" data-src="https://www.dropbox.com/s/1kvpkuop1z8kzah/turnpractice3_webxsm.jpg?raw=1" src="https://www.dropbox.com/s/1kvpkuop1z8kzah/turnpractice3_webxsm.jpg?raw=1" class="img-responsive slide-up-fade-in">
                  </a></div><div class="grid-item"><a href="https://www.dropbox.com/s/gcpiyj2ln8p15vw/greenWitch_web.jpg?raw=1" data-toggle="lightbox"><img alt="picture" src="https://www.dropbox.com/s/4i23tfzv8yopo2z/greenWitch_webxsm.jpg?raw=1" class="img-responsive slide-up-fade-in">
                  </a></div><div class="grid-item"><a href="https://s3.amazonaws.com/content.kubiartwork.com/images/test/witch_1_test.jpg" data-toggle="lightbox"><img alt="picture" src="https://s3.amazonaws.com/content.kubiartwork.com/images/test/witch_1_test.jpg" class="img-responsive slide-up-fade-in"></a></div><div class="grid-item"><a href="https://www.dropbox.com/s/gcpiyj2ln8p15vw/greenWitch_web.jpg?raw=1" data-toggle="lightbox"><img alt="picture" src="https://www.dropbox.com/s/4i23tfzv8yopo2z/greenWitch_webxsm.jpg?raw=1" class="img-responsive slide-up-fade-in">
                  </a></div><div class="grid-item"><a href="https://www.dropbox.com/s/68bi0cifunl9jy6/beetleBabe_web.jpg?raw=1" data-toggle="lightbox">
                    <img alt="picture" src="https://www.dropbox.com/s/7a1ni4koae83d7i/beetleBabe_webxsm.jpg?raw=1" class="img-responsive slide-up-fade-in">
                  </a></div><div class="grid-item"><a href="https://www.dropbox.com/s/rxyznx03gmlry7j/turnpractice3_web.jpg?raw=1" data-toggle="lightbox">
                    <img alt="picture" data-src="https://www.dropbox.com/s/1kvpkuop1z8kzah/turnpractice3_webxsm.jpg?raw=1" src="https://www.dropbox.com/s/1kvpkuop1z8kzah/turnpractice3_webxsm.jpg?raw=1" class="img-responsive slide-up-fade-in">
                  </a></div>
</div>
  <!--Masonry Test-->

  
  <!-----FOOTER CONTENT BEGIN----->

  {% include footer.html %}
  
  <!-----FOOTER CONTENT END----->

  <!-----MAIN CONTENT END----->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!--Page Scripts-->

  <script>
    function getCurrentYear() {
      var d = new Date();
      var n = d.getFullYear();
      $(".currYear").text(n);
    };
    getCurrentYear();

  $(document).ready(function(){
    runMasonryLayout();
  });
  
  </script>
  

</body>

</html>
