<nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
    
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
        
                    </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      

                    <ul class="nav navbar-nav">
                        <li><a href="..">Home</a></li>
                        <!--<li><a href="https://www.facebook.com/media/set/?set=a.909867009118345.1073741829.601957656575950&type=1&l=5b001c0594">Gallery</a></li>-->
                        <li><a href="../reel.html">Animation</a></li>
                      <li><a href="../design.html">Design</a></li>
                      <li><a href="../illustration.html">Illustration</a></li>
                        <li><a href="../gallery.html">Personal Gallery</a></li>
                        <li><a href="../about.html">Contact</a></li>
                        <li><a href="../shop.html">Shop</a></li>
                      <!--<li><a href="../social.html">Social</a></li>-->
                    </ul>
        
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
